version: '2'
services:
  db:
    image: "mysql:5.7"
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=alexandria
    ports:
      - "3308:3306"
  db_test:
    image: "mysql:5.7"
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=alexandria_test
    ports:
      - "3309:3306"
  web:
    build: .
    command: python run.py
    ports:
      - "80:7070"
    volumes:
      - .:/librarian
    depends_on:
      - db
