{% extends "main.jinja" %}
{% from "macros.jinja" import render_card_catalog %}

{% block title %}Browse Books{% endblock %}
{% block content %}
    {% if query %}
        <h1>Showing results for "{{query}}"</h1>
    {% else %}
        <h1>Browse the library's collection</h1>
    {% endif %}

    {% if search_form %}
        {% include "_book-search.jinja" %}
        <br>
    {% endif %}

    {% if not books|length %}
        <h2>Nothing found.</h2>
    {% endif %}

    {% for book in books %}
        {{ render_card_catalog(book, user=user) }}
    {% endfor %}
{% endblock %}
