{% extends "main.jinja" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h1>Welcome logged-in user</h1>
    <hr>
    <h2>
        <i class="fa fa-bar-chart"></i> Some quick stats
    </h2>
    <div class="row row-eq-panels">
        <div class="col-md-6 panel panel-default panel-col">
            <div class="panel-body">
                <p><i class="fa fa-bookmark"></i> {{ book_count_stat }}</p>
            </div>
        </div>
        <div class="col-md-6 panel panel-default panel-col">
            <div class="panel-body">
                <p><i class="fa fa-question-circle"></i> 34,528,818. Number of volumes stored in the Library of Congress. Boss.</p>
            </div>
        </div>
    </div>
    <div class="row">
        {% if recent_books %}
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p><i class="fa fa-book"></i> Newest books:</p>
                        <ol class="text">
                            {% for title in recent_books %}
                                <li>{{ title }} </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="col-md-3">
            {% if contrib_stat %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p><i class="fa fa-pie-chart"></i> {{ contrib_stat }}</p>
                    </div>
                </div>
            {% endif %}
            {% if top_author %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p><i class="fa fa-pie-chart"></i> {{ top_author}}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
