{% extends "main.jinja" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h1>Welcome logged-in user</h1>
    <h2>
        <i class="fa fa-pie-chart"></i> Some quick stats
    </h2>
    <ul>
        <li>{{ contrib_stat }}</li>
    </ul>
{% endblock %}
