{% extends "main.jinja" %}
{% block title %}Home{% endblock %}

{% block body %}
<div class="search-block">
    <div class="row search-row">
        <div class="col-md-3"></div>
        <div class="col-md-6 search-col">
            <span class="home-logo">
                <img src="/static/images/librarian.png">
            </span>
            <br>
            <br>
            {% include "_book-search.jinja" %}
            <br>
            {% if has_current_user %}
                <p class="log-in-prompt">
                    <strong>You are currently logged-in. Please make sure you
                    are not in a public terminal. <a href="/logout">Logout?</a></strong>
                </p>
            {% else %}
                <p class="log-in-prompt">
                    An actual Librarian? <a href="/login">Log-in here.</a>
                </p>
            {% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}
