{% macro render_creator_listing(creator_title) %}
{% set listing_label = "".join((creator_title.capitalize(), "(s):")) %}
<div class="grouped-input" id="{{ creator_title }}-block">
    <div class="row">
        <div class="col-md-11">
            <h3>{{ listing_label }}</h3>
        </div>
    </div>
    <div class="input-group input-group-md">
        <input type="text" class="auto-lastname form-control single-liner-halves" placeholder="Last name" id="{{creator_title}}-proxy-lastname">
        <input type="text" class="auto-firstname form-control single-liner-halves" placeholder="First name" id="{{creator_title}}-proxy-firstname">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" id="{{ creator_title }}-add">
                <i class="fa fa-plus-circle clickable"></i>
            </button>
        </span>
    </div>
    <div class="row">
        <div class="col-md-11">
            <ul id="{{ creator_title }}-list" class="creator-name-list">
            </ul>
        </div>
    </div>
</div>
{% endmacro %}

{% macro book_entry(form, form_action_url, book_record=None, mode="add") %}
{% if mode == "add" %}
    {% set neg_cta = "Clear Form" %}
{% elif mode == "edit" %}
    {% set neg_cta = "Cancel Edits" %}
{% endif %}
{# This is the hidden "buffer" form, the actual form mapped from back-end. #}
<form method="POST" action="{{form_action_url}}" role="form" id="main-form">
    {% if book_record %}
        {{ form.book_id() }}
    {% endif %}
    {{ form.csrf_token }}
    {{ form.isbn() }}
    {{ form.title() }}
    {{ form.genre() }}
    {{ form.authors() }}
    {{ form.illustrators() }}
    {{ form.editors() }}
    {{ form.translators() }}
    {{ form.publisher() }}
    {{ form.printer() }}
    {{ form.year() }}
</form>
<form id="proxy-form">
    <h2>Book Information</h2>
    <div class="row">
        <div class="col-md-4">
            <label class="input-holder"><i class="fa fa-star"></i> ISBN:<br>
            <input type="text" id="isbn-proxy" class="form-control" name="isbn-rule">
            </label>
        </div>
        <div class="col-md-4">
            <label class="input-holder"><i class="fa fa-star"></i> Title:<br>
            <input type="text" id="title-proxy" class="form-control" name="title-rule">
            </label>
        </div>
        <div class="col-md-4">
            <label class="input-holder"><i class="fa fa-star"></i> Genre:<br>
            <input type="text" id="genre-proxy" class="form-control" name="genre-rule">
            </label>
        </div>
    </div>
    <div class="block">
        <h2>Content Creators</h2>
        {{ render_creator_listing("author") }}
        <br> 
        {{ render_creator_listing("illustrator") }}
        <br>
        {{ render_creator_listing("editor") }}
        <br>
        {{ render_creator_listing("translator") }}
    </div>
    <h2>Publishing Information</h2>
    <div class="row">
        <div class="col-md-4">
            <label class="input-holder"><i class="fa fa-star"></i> Publisher:<br>
            <input type="text" id="publisher-proxy" class="form-control" name="publisher-rule">
            </label>
        </div>
        <div class="col-md-4">
            <label class="input-holder">Printer:<br>
            <input type="text" id="printer-proxy" class="form-control">
            </label>
        </div>
        <div class="col-md-4">
            <label class="input-holder"><i class="fa fa-star"></i> Year:<br>
            <input type="text" id="year-proxy" class="form-control" name="year-rule">
            </label>
        </div>
    </div>
</form>
<div style="clear: both"></div>
<div class="block">
    <br>
    <input type="button" class="btn btn-primary" value="Save Book" id="queue-book">
    <input type="button" class="btn btn-default" value="{{neg_cta}}" id="clear-proxy">
</div>
{% endmacro %}

{% macro render_card_catalog(book, user=None) %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6 book-title">
                <i class="fa fa-book"></i>
                {% if user %}
                    <a class="edit-prompt" href="/books/edit?bid={{book.id}}">{{ book.title }}</a>
                {% else %}
                    {{ book.title }}
                {% endif %}
            </div>
            <div class="col-md-6 isbn">
                ISBN: {{ book.isbn }}
            </div>
        </div>
    </div>
    <div class="panel-body book-info">
        {% if book.author %}
            <div class="row">
                <div class="col-md-3 creator-label">
                    <i class="fa fa-pencil-square-o"></i> <strong>Authors:</strong>
                </div>
                <div class="col-md-9">
                    {% for author in book.author %}
                        {{ author.lastname }}, {{ author.firstname }}.
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if book.translator %}
            <div class="row">
                <div class="col-md-3 creator-label">
                    <i class="fa fa-globe"></i> <strong>Translators:</strong>
                </div>
                <div class="col-md-9">
                    {% for translator in book.translator %}
                        {{ translator.lastname }}, {{ translator.firstname }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if book.illustrator %}
            <div class="row">
                <div class="col-md-3 creator-label">
                    <i class="fa fa-picture-o"></i> <strong>Illustrators:</strong>
                </div>
                <div class="col-md-9">
                    {% for illustrator in book.illustrator %}
                        {{ illustrator.lastname }}, {{ illustrator.firstname }}.
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if book.editor %}
            <div class="row">
                <div class="col-md-3 creator-label">
                    <i class="fa fa-file-text-o"></i> <strong>Editors:</strong>
                </div>
                <div class="col-md-9">
                    {% for editor in book.editor %}
                        {{ editor.lastname }}, {{ editor.firstname }}.
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-3 creator-label">
                <i class="fa fa-building"></i> <strong>Publisher:</strong>
            </div>
            <div class="col-md-9">
                {{ book.publisher }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3">
                {{ book.year }}
            </div>
            <div class="col-md-9">
                {{ book.genre }}
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro paginated_display(item_list, page_number, per_page_count, total_count) %}
{% endmacro %}
