{#
Users of this template may set the following context variables:

  title - displayed at the title bar of the browser
  stylesheets - list of css filenames, to customize look, if applicable. bootstrap
    themes and the librarian theme is included by default.
  scripts - list of javascript filenames for custom behavior, if applicable. jquery
    is included by default.
  misc_js - WARNING: USE PRUDENTLY. For server-side generated scripts.
  
For both stylesheets and scripts, it is assumed that the resource is in the
default resource directory (/static/scripts and static/styles).
#}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Alexandria - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/styles/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/styles/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/static/styles/librariantheme.css">
        <link rel="stylesheet" type="text/css" href="/static/styles/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
        {% for style in stylesheets: %}
            <link rel="stylesheet" type="text/css" href="/static/styles/{{ style }}">
        {% endfor %}
        
        <script type="text/javascript" src="/static/scripts/jquery.js"></script>
        {% for script in scripts: %}
            <script type="text/javascript" src="/static/scripts/{{ script }}"></script>
        {% endfor %}
        <script type="text/javascript" language="javascript">
        {% block misc_js %}{% endblock %}
        </script>
    </head>
    <body>
        {% block body %}
            <div class="main_box">
                {% if current_user.is_authenticated %}
                    <a href="/dashboard">
                        <img src="/static/images/librarian.png" class="logo">
                    </a>
                {% else %}
                    <img src="/static/images/librarian.png" class="logo">
                {% endif %}
                <div class="navbox">
                    <a class="navbox" href="/">Search</a>
                    <a class="navbox" href="/about">About</a>
                    <a class="navbox" href="/books">Browse Books</a>
                    {% if current_user.is_authenticated %}
                        <a class="navbox" href="/librarians">Manage Librarians</a>
                        <a class="navbox" href="/books/add">Manage Books</a>
                        <a class="navbox" href="/logout">Log-out</a>
                    {% else %}
                        <a class="navbox" href="/login">Log-in</a>
                    {% endif %}
                </div>
                <div class="content_box">
                    {% block content %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </body>
</html>
