.book-info{
    font-size: 18px;
}

.book-title{
    font-size: 18px;
    font-weight: bold;
}

.creator-label{
    text-align: right;
}

.isbn{
    text-align: right;
    font-size: 18px;
}

a.edit-prompt{
    color: #000;
}

a.edit-prompt:hover::after{
    content: " [edit]";
}
