/*Global style definitions*/

* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #4c4039;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	height: 100%;
	width: 100%;
}

h1 {
	font-size: 25px;
}

h2 {
	font-size: 23px;
}

h3 {
    font-size: 21px;
}

hr {
	color: #4c4039;
	background-color: #4c4039;
	width: 98.8%;
	height: 3px;
	border: 0px;
	margin-bottom: 3px;
}

p, .text {
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	padding-bottom: 8px;
	padding-right: 10px;
	color: #000000;
}

label{
    font-weight: normal;
}

/*Boxes*/

div.main_box {
	background-color: #ffffff;
	color: #000000;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	min-height: 100%;
	float: left;
}

div.content_box {
	margin: 5px;
	float: left;
	width: 100%;
}

div.navbox{
	background-color: #4c4039;
	color: #ffffff;
	font-family: Arial, sans-serif;
	font-size: 12px;
	word-spacing: 20px;
	margin-top: 10px;
    padding: 5px 12px;
}

div.block{
	float: left;
	padding: 5px;
	margin: 3px;
}

div.queued_block{
    border-radius: 28px;
    width: 98%;
    min-height: 128px;
    text-align: center;
    margin: 3px;
    padding: 5% inherit;
}

div.saved_book{
    padding: 10px;
    background-color: #f07746;
    color: #fff;
    font-weight: bold;
}

div.empty_set, div.unsaved_book{
    padding 10px;
    background-color: #dadada;
}

a.navbox{
	color: #ffffff;
	word-spacing: normal;
}

label.error{
	display: block;
	margin-bottom: -10px;
}

table.booklist{
	margin-left: 3%;
	margin-right: 3%;
	width: 94%;
	border-collapse: collapse;
}

table.booklist, tr.booklist{
	border: solid 1px;
	vertical-align: middle;
	text-align: center;
}

td.booklist{
	padding: 3px;
	margin: 0;
	border: solid 1px;
}

td.bookrecord{
	font-size: 12px;
	border: solid 1px;
}

td.bookspine{
	text-align: center;
}

/*Forms*/
input.search, select.search, option.search {
	font-size: 16px;
    padding: 10px;
}

.searchbox{
    width: 70%;
}

input.btn {
	padding: 5px;
	border: solid 1px #2b2b2b;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}

input.btn:hover {
	border-color: #d2c136;
}

input.btn:active {
	color: #fff;
}

/*
special_labels are input textboxes used as labels to checkboxes. They follow
bootstrap styling so this just overrides on them.

They are usually readonly text fields hence the !important indicator in cursor.
*/
input.special_label{
    max-width: 30%;
    cursor: default !important;
}

.btn-primary{
	background-color: #2b2b2b;
    background-image: none;
    text-shadow: none;
	color: #d2c136;
}

.btn-primary:hover{
    background-color: #000;
}

input.infrequent{
	background-color: #896f62;
	color: #000;
}

/*Images*/

img.logo {
	width: 100%;
	max-height: 300px;
}
