{% extends "main.jinja" %}

{% macro render_creator_listing(creator_title) %}
{% set listing_label = "".join((creator_title.capitalize(), "(s):")) %}
<div class="grouped_input">
    <div class="row">
        <div class="col-md-11">
            <h3>{{ listing_label }}</h3>
        </div>
        <div class="col-md-1">
            <i class="fa fa-plus-circle fa-2x"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="text" name="{{ creator_title }}-proxy-lastname" placeholder="Lastname">
            &nbsp;
            <input type="text" name="{{ creator_title }}-proxy-firstname" placeholder="First name">
        </div>
    </div>
</div>
{% endmacro %}

{% block title %}Add Books{% endblock %}
{% block content %}
    <h1>Add Books</h1>
    <div class="input-group">
        <span class="input-group-addon">
            <input type="checkbox" id="auto-save-toggle" checked>
        </span>
        <input type="text" id="autosave_label" class="form-control special_label" value="Auto-Save" readonly="true">
    </div>
    <!-- This is the hidden "buffer" form, the actual form mapped from back-end. -->
    <form method="POST" action="/book_adder" role="form" id="main-form">
        {{ form.csrf_token }}
        {{ form.isbn() }}
        {{ form.title() }}
        {{ form.genre() }}
        {{ form.authors() }}
        {{ form.illustrators() }}
        {{ form.editors() }}
        {{ form.translators() }}
        {{ form.publisher() }}
        {{ form.printer() }}
        {{ form.year() }}
    </form>

    <!-- The proxy form, to be manipulated by JavaScript -->
    <span id="proxy-form">
        <div class="block">
            <h2>Book Information</h2>
            <label>ISBN:<br>
            <input type="text" id="isbn-proxy">
            </label>
            <label>Title:<br>
            <input type="text" id="title-proxy">
            </label>
            <label>Genre:<br>
            <input type="text" id="genre-proxy">
            </label>
        </div>
        <div class="block">
            <h2>Content Creators</h2>
            {{ render_creator_listing("author") }}
            <br> 
            {{ render_creator_listing("illustrator") }}
            <br>
            {{ render_creator_listing("editor") }}
            <br>
            {{ render_creator_listing("translator") }}
        </div>
        <div class="block">
            <h2>Publishing Information</h2>
            <label>Publisher:<br>
            <input type="text" id="publisher-proxy">
            </label>
            <label>Printer:<br>
            <input type="text" id="printer-proxy">
            </label>
            <label>Year:<br>
            <input type="text" id="year-proxy">
            </label>
        </div>
    </span>
    <div style="clear: both"></div>
    <div class="block">
        <br>
        <input type="button" class="btn btn-primary" value="Save Book" id="queue-book">
        <input type="button" class="btn btn-default" value="Clear Form" id="clear-proxy"">
    </div>
    <hr>
    <h2>Books Entered</h2>
    <p>It may take some time to process all your books.</p>
    <span id="qContainer">
    </span>
{% endblock %}
