{% extends "main.jinja" %}
{% block title %}Log-in{% endblock %}
{% block content %}
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
    <form method="POST" action="/login/" role="form">
        {{ form.csrf_token }}
        Username:<br>
        {{ form.username(autofocus="", placeholder="Username") }}<br>
        Password:<br>
        {{ form.password(placeholder="Password") }}<br>
        <input type="submit" value="Log-in">
    </form>
{% endblock %}
