{% extends "main.jinja" %}
{% block title %}Log-in{% endblock %}
{% block content %}
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
    <form method="POST" action="/login/" role="form">
    <div class="input-group input-group-lg">
        {{ form.csrf_token }}
        Username:<br>
        {{ form.librarian_username(autofocus="", placeholder="Username", class="form-control") }}<br>
        Password:<br>
        {{ form.librarian_password(placeholder="Password", class="form-control") }}<br>
        <input type="submit" value="Log-in" class="form-control btn btn-default">
    </div>
    </form>
{% endblock %}
