{#
This view requires the following variables to be defined:
  title - displayed at the title bar of the browser
  is_logged_in - True if the user is logged in. Don't worry, controllers
    should still check.

Additionally, if the $content contains text to be echoed, users of this
view must set a variable $echo_content to TRUE. You should also, ALWAYS,
load the URL helper.
#}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Alexandria - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/styles/librariantheme.css" />
        {% for style in stylesheets: %}
            <link rel="stylesheet" type="text/css" href="/static/styles/{{ style }}" />
        {% endfor %}
        
        <script type="text/javascript" src="/static/scripts/jquery.js"></script>
        {% for script in scripts: %}
            <script type="text/javascript" src="/static/scripts/{{ script }}"></script>
        {% endfor %}
    </head>
    <body>
        <div class="main_box">
            <img src="/static/images/librarian.png" />
            <div class="navbox">
                <a class="navbox" href="/home">Search</a>
                <a class="navbox" href="/about">About</a>
                <a class="navbox" href="/browse">Browse</a>
                <a class="navbox" href="/login">Log-in</a>
            </div>
            <div class="content_box">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
